## Display Features

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings

In [2]:
%matplotlib inline
pd.options.display.max_rows = 300000
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 500

# Load Dataset

In [3]:
football = sqlite3.connect(
    "C:\\Users\\Space\\Documents\\py\\Projects\\TuringCollege\\Football\\DataSet\\Football.sqlite"
)

# List of Tables

In [4]:
football_db = {}

result = football.execute("SELECT name FROM sqlite_master WHERE type='table';")

for table in result:
    query = "SELECT * from " + str(table[0]) + ";"
    football_db[table[0]] = pd.read_sql_query(query, football)

football_db.keys()

dict_keys(['sqlite_sequence', 'Player_Attributes', 'Player', 'Match', 'League', 'Country', 'Team', 'Team_Attributes'])

# Country

In [67]:
country = football_db["Country"].copy()

In [69]:
country = pd.read_sql("""  ALTER TABLE country
DROP COLUMN name;
                      """, football)

DatabaseError: Execution failed on sql '  ALTER TABLE country
DROP COLUMN name;
                      ': cannot drop UNIQUE column: "name"

In [58]:
country

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [6]:
country.rename(columns={"id": "CountryID", "name": "CountryName"}, inplace=True)

In [7]:
country.head()

   CountryID CountryName
0          1     Belgium
1       1729     England
2       4769      France
3       7809     Germany
4      10257       Italy

In [8]:
country.shape

(11, 2)

# League

In [9]:
league = football_db["League"].copy()

In [10]:
del league["id"]

In [11]:
league.rename(columns={"country_id": "CountryID", "name": "LeagueName"}, inplace=True)

In [12]:
league.head()

   CountryID              LeagueName
0          1  Belgium Jupiler League
1       1729  England Premier League
2       4769          France Ligue 1
3       7809   Germany 1. Bundesliga
4      10257           Italy Serie A

In [13]:
league.shape

(11, 2)

# Player

In [14]:
player = football_db["Player"].copy()

In [15]:
player["birthday"] = pd.DatetimeIndex(player["birthday"]).year

In [16]:
player.drop(columns=["id", "player_fifa_api_id"], inplace=True)

In [17]:
player = player.set_index("player_api_id")

In [18]:
player = player.rename_axis("player_api_id").reset_index()

In [19]:
player.rename(
    columns={
        "player_api_id": "PlayerID",
        "player_name": "PlayerName",
        "birthday": "Birthday",
        "height": "Height",
        "weight": "Weight",
    },
    inplace=True,
)

In [20]:
player.head()

   PlayerID          PlayerName  Birthday  Height  Weight
0    505942  Aaron Appindangoye      1992  182.88     187
1    155782     Aaron Cresswell      1989  170.18     146
2    162549         Aaron Doran      1991  170.18     163
3     30572       Aaron Galindo      1982  182.88     198
4     23780        Aaron Hughes      1979  182.88     154

In [21]:
player.shape

(11060, 5)

# Team

In [22]:
team = football_db["Team"].copy()

In [23]:
team.drop(columns=["id", "team_fifa_api_id"], inplace=True)

In [24]:
team.rename(
    columns={
        "team_api_id": "TeamID",
        "team_long_name": "TeamLongName",
        "team_short_name": "TeamShortName",
    },
    inplace=True,
)

In [25]:
team.head()

   TeamID       TeamLongName TeamShortName
0    9987           KRC Genk           GEN
1    9993       Beerschot AC           BAC
2   10000   SV Zulte-Waregem           ZUL
3    9994   Sporting Lokeren           LOK
4    9984  KSV Cercle Brugge           CEB

In [26]:
team.shape

(299, 3)

# Match

In [27]:
match = football_db["Match"].copy()

In [28]:
match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [29]:
match.shape

(25979, 115)

In [30]:
match.duplicated(subset=["match_api_id"]).sum()

0

In [31]:
match.isnull().sum()

id                      0
country_id              0
league_id               0
season                  0
stage                   0
date                    0
match_api_id            0
home_team_api_id        0
away_team_api_id        0
home_team_goal          0
away_team_goal          0
home_player_X1       1821
home_player_X2       1821
home_player_X3       1832
home_player_X4       1832
home_player_X5       1832
home_player_X6       1832
home_player_X7       1832
home_player_X8       1832
home_player_X9       1832
home_player_X10      1832
home_player_X11      1832
away_player_X1       1832
away_player_X2       1832
away_player_X3       1832
away_player_X4       1832
away_player_X5       1832
away_player_X6       1832
away_player_X7       1832
away_player_X8       1832
away_player_X9       1833
away_player_X10      1833
away_player_X11      1839
home_player_Y1       1821
home_player_Y2       1821
home_player_Y3       1832
home_player_Y4       1832
home_player_Y5       1832
home_player_Y6       1832
home_player_Y7       1832
home_player_Y8       1832
home_player_Y9       1832
home_player_Y10      1832
home_player_Y11      1832
away_player_Y1       1832
away_player_Y2       1832
away_player_Y3       1832
away_player_Y4       1832
away_player_Y5       1832
away_player_Y6       1832
away_player_Y7       1832
away_player_Y8       1832
away_player_Y9       1833
away_player_Y10      1833
away_player_Y11      1839
home_player_1        1224
home_player_2        1315
home_player_3        1281
home_player_4        1323
home_player_5        1316
home_player_6        1325
home_player_7        1227
home_player_8        1309
home_player_9        1273
home_player_10       1436
home_player_11       1555
away_player_1        1234
away_player_2        1278
away_player_3        1293
away_player_4        1321
away_player_5        1335
away_player_6        1313
away_player_7        1235
away_player_8        1341
away_player_9        1328
away_player_10       1441
away_player_11       1554
goal                11762
shoton              11762
shotoff             11762
foulcommit          11762
card                11762
cross               11762
corner              11762
possession          11762
B365H                3387
B365D                3387
B365A                3387
BWH                  3404
BWD                  3404
BWA                  3404
IWH                  3459
IWD                  3459
IWA                  3459
LBH                  3423
LBD                  3423
LBA                  3423
PSH                 14811
PSD                 14811
PSA                 14811
WHH                  3408
WHD                  3408
WHA                  3408
SJH                  8882
SJD                  8882
SJA                  8882
VCH                  3411
VCD                  3411
VCA                  3411
GBH                 11817
GBD                 11817
GBA                 11817
BSH                 11818
BSD                 11818
BSA                 11818
dtype: int64

# Player Attributes

In [27]:
player_attributes = football_db["Player_Attributes"].copy()

In [28]:
player_attributes.drop(columns=["id", "player_fifa_api_id"], inplace=True)

In [29]:
player_attributes.head()

,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [30]:
player_attributes.shape

(183978, 40)

In [33]:
null_instances = player_attributes[player_attributes["overall_rating"].isnull()].index

In [34]:
null_instances = player_attributes[player_attributes["volleys"].isnull()].index

In [100]:
player_attributes.drop(null_instances, inplace=True)

In [35]:
null_instances = player_attributes[
    player_attributes["attacking_work_rate"].isnull()
].index

In [36]:
player_attributes.drop(null_instances, inplace=True)

In [37]:
player_attributes.shape

(180748, 40)

In [38]:
player_attributes["date"] = pd.DatetimeIndex(player_attributes["date"]).year

In [43]:
player_attributes.sort_values('defensive_work_rate').head()

,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
16388,607148,2015,70.0,78.0,right,None,0,68.0,26.0,68.0,66.0,30.0,45.0,46.0,41.0,39.0,68.0,63.0,71.0,65.0,70.0,63.0,40.0,70.0,66.0,65.0,36.0,60.0,71.0,36.0,32.0,43.0,72.0,71.0,73.0,7.0,10.0,12.0,15.0,8.0
32545,96839,2009,69.0,72.0,right,None,0,60.0,42.0,68.0,72.0,43.0,62.0,59.0,54.0,69.0,67.0,76.0,77.0,75.0,73.0,73.0,63.0,79.0,91.0,71.0,57.0,75.0,67.0,63.0,74.0,67.0,63.0,65.0,62.0,14.0,15.0,6.0,13.0,11.0
32546,96839,2008,63.0,66.0,right,None,0,62.0,42.0,61.0,66.0,43.0,57.0,59.0,54.0,64.0,63.0,68.0,67.0,75.0,71.0,73.0,63.0,79.0,67.0,62.0,57.0,67.0,68.0,59.0,74.0,55.0,60.0,58.0,62.0,14.0,15.0,64.0,13.0,11.0
32547,96839,2007,58.0,61.0,right,None,0,42.0,42.0,32.0,60.0,43.0,57.0,59.0,54.0,56.0,59.0,68.0,60.0,75.0,57.0,73.0,54.0,79.0,67.0,52.0,57.0,53.0,53.0,49.0,74.0,50.0,53.0,52.0,62.0,14.0,15.0,56.0,13.0,11.0
32548,96839,2007,58.0,61.0,right,None,0,42.0,42.0,32.0,60.0,43.0,57.0,59.0,54.0,56.0,59.0,68.0,60.0,75.0,57.0,73.0,54.0,79.0,67.0,52.0,57.0,53.0,53.0,49.0,74.0,50.0,53.0,52.0,62.0,14.0,15.0,56.0,13.0,11.0

In [45]:
player_attributes.sort_values('attacking_work_rate').tail()

,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
111696,30716,2010,79.0,85.0,left,y,es,44.0,39.0,86.0,60.0,62.0,47.0,42.0,70.0,61.0,56.0,60.0,66.0,51.0,73.0,78.0,76.0,82.0,71.0,84.0,53.0,91.0,78.0,76.0,60.0,62.0,77.0,79.0,76.0,7.0,20.0,61.0,20.0,20.0
111695,30716,2010,77.0,85.0,left,y,es,44.0,39.0,86.0,60.0,62.0,36.0,42.0,76.0,66.0,54.0,59.0,59.0,51.0,60.0,78.0,78.0,82.0,60.0,84.0,68.0,85.0,80.0,24.0,60.0,80.0,80.0,80.0,76.0,12.0,11.0,11.0,11.0,6.0
111694,30716,2011,76.0,85.0,left,y,es,44.0,39.0,80.0,60.0,62.0,30.0,40.0,75.0,70.0,50.0,57.0,64.0,57.0,66.0,86.0,78.0,82.0,58.0,88.0,68.0,85.0,80.0,24.0,66.0,80.0,80.0,75.0,70.0,12.0,11.0,11.0,11.0,6.0
48031,30448,2007,79.0,85.0,left,y,es,85.0,72.0,72.0,80.0,68.0,80.0,68.0,75.0,80.0,86.0,71.0,73.0,60.0,77.0,75.0,75.0,75.0,75.0,81.0,81.0,71.0,85.0,86.0,81.0,77.0,71.0,60.0,52.0,15.0,20.0,80.0,20.0,20.0
48273,30726,2009,83.0,89.0,right,y,es,20.0,20.0,20.0,27.0,12.0,20.0,12.0,11.0,85.0,22.0,32.0,41.0,57.0,68.0,51.0,29.0,60.0,63.0,76.0,20.0,57.0,78.0,55.0,40.0,43.0,20.0,20.0,11.0,82.0,86.0,85.0,92.0,77.0

In [52]:
# att_2 = player_attributes['attacking_work_rate'].unique().value_counts()
# att_2

tag_counts = player_attributes['attacking_work_rate'].value_counts()
tag_counts

medium    125070
high       42823
low         8569
None        3639
norm         348
y            106
le           104
stoc          89
Name: attacking_work_rate, dtype: int64

In [53]:
tag_counts = player_attributes['preferred_foot'].value_counts()
tag_counts

right    136551
left      44197
Name: preferred_foot, dtype: int64

In [54]:
tag_counts = player_attributes['defensive_work_rate'].value_counts()
tag_counts

medium    130846
high       27041
low        18432
o           1550
1            441
ormal        348
2            342
3            258
5            234
7            217
0            197
6            197
9            152
4            116
es           106
ean          104
tocky         89
8             78
Name: defensive_work_rate, dtype: int64

In [40]:
certificate = pd.crosstab(player_attributes["player_api_id"], player_attributes["date"])
certificate.head()

date           2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
player_api_id
2625              2     1     0     1     2     2     3     2     1     0
2752              2     1     0     1     1     2     8     2     4     0
2768              1     1     2     2     2     2     5     1     3     2
2770              2     1     1     2     2     2     5     0     0     0
2790              2     1     1     1     0     0     0     0     0     0

In [42]:
player_attributes[['player_api_id','date','preferred_foot', 'attacking_work_rate', 'defensive_work_rate']].groupby(
    ['preferred_foot', 'attacking_work_rate', 'defensive_work_rate']).agg(pd.Series.mode)

                                                                                                                                                                                               player_api_id  \
preferred_foot attacking_work_rate defensive_work_rate
left           None                0                                                                                                                                                                   37468
                                   1                                                                                                                                                                  179893
                                   2                                                                                                                                                                   40792
                                   3                                                                                                                                                                  210466
                                   4                                                                                                                                                         [18552, 210186]
                                   5                                                                                                                                                                   23151
                                   6                                                                                                                                                                  302012
                                   7                                                                                                                                                                   35121
                                   8                                                                                                                                                                  193866
                                   9                                                                                                                                                                  186184
                                   high                                                                                                                                                               277390
                                   o                                                                                                         [27360, 30866, 30916, 33021, 33686, 33729, 34699, 38561, 40080]
               high                2                                                                                                                                                                   13329
                                   7                                                                                                                                                                  210858
                                   high                                                                                                                                                               111862
                                   low                                                                                                                                                                177475
                                   medium                                                                                                                                                    [26522, 177874]
               low                 4                                                                                                                                                                  139635
                                   high                                                                                                                                                               112476
                                   low                                                                                                                                                                 27267
                                   medium                                                                                                                                                              26223
               medium              3                                                                                                                                                                  185625
                                   4                                                                                                                                                                  139635
                                   7                                                                                                                                                                  210858
                                   8                                                                                                                                                                   98363
                                   high                                                                                                                                                                49543
                                   low                                                                                                                                                                 41269
                                   medium                                                                                                                                                              41497
               norm                ormal                                                                                                                                                      [39997, 43285]
               stoc                tocky                                                                                                                                                               23426
               y                   es                                                                                                                                                                  30716
right          None                0                                                                                                                                                                   79262
                                   1                                                                                                                                                        [181619, 238841]
                                   2                                                                                                                                                                  358148
                                   3                                                                                                                                                          [19511, 35708]
                                   4                                                                                                                                                                   33747
                                   5                                                                                                                                                                  212697
                                   6                                                                                                                                                                   79747
                                   7                                                                                                                                                                  164128
                                   8                                                                                                                                                                  243131
                                   9                                                                                                                                                                   43252
                                   high                                                                                                                                                               210692
                                   low                                                                                                                                                                 30684
                                   medium                                                                                                                                                             200964
                                   o                    [12005, 23036, 24391, 24632, 27447, 27686, 30266, 30445, 31011, 31257, 33544, 35412, 36071, 37387, 38215, 39386, 39559, 41665, 42173, 43211, 102725]
               high                0                                                                                                                                                                   41175
                                   1                                                                                                                                                                   38604
                                   2                                                                                                                                                                  474672
                                   5                                                                                                                                                                   37491
                                   6                                                                                                                                                                   39069
                                   9                                                                                                                                                                   26853
                                   high                                                                                                                                                                41890
                                   low                                                                                                                                                                183059
                                   medium                                                                                                                                                              40636
               le                  ean                                                                                                                                                                 41328
               low                 3                                                                                                                                                                  118601
                                   4                                                                                                                                                                   37970
                                   high                                                                                                                                                                39304
                                   low                                                                                                                                                                108808
                                   medium                                                                                                                                                     [30459, 42008]
               medium              0                                                                                                                                                                  114724
                                   1                                                                                                                                                                  307226
                                   2                                                                                                                                                                   42116
                                   3                                                                                                                                                                  210428
                                   4                                                                                                                                                                   25160
                                   5                                                                                                                                                                  212366
                                   6                                                                                                                                                                  179866
                                   9                                                                                                                                                                   26853
                                   high                                                                                                                                                                24780
                                   low                                                                                                                                                                 30626
                                   medium                                                                                                                                                              25772
               norm                ormal                                                                                                                                                      [32766, 37477]
               stoc                tocky                                                                                                                                                      [38230, 39323]
               y                   es                                                                                                                                           [27327, 30456, 30726, 34942]

                                                                                        date
preferred_foot attacking_work_rate defensive_work_rate
left           None                0                                                    2014
                                   1                                                    2013
                                   2                                                    2015
                                   3                                                    2015
                                   4                                                    2010
                                   5                                                    2014
                                   6                                                    2014
                                   7                                                    2015
                                   8                                                    2013
                                   9                                      [2007, 2013, 2015]
                                   high                                                 2013
                                   o                                                    2007
               high                2                                                    2013
                                   7                                                    2015
                                   high                                                 2015
                                   low                                                  2013
                                   medium                                               2013
               low                 4                                                    2014
                                   high                                                 2013
                                   low                                                  2013
                                   medium                                               2013
               medium              3                                                    2014
                                   4                                                    2013
                                   7                                                    2014
                                   8                          [2007, 2008, 2009, 2010, 2012]
                                   high                                                 2013
                                   low                                                  2013
                                   medium                                               2013
               norm                ormal                                                2007
               stoc                tocky                                        [2007, 2010]
               y                   es                                                   2007
right          None                0                                                    2015
                                   1                                                    2015
                                   2                                                    2015
                                   3                                                    2013
                                   4                                                    2013
                                   5                                                    2013
                                   6                                                    2015
                                   7                                                    2015
                                   8                                                    2013
                                   9                                                    2013
                                   high                                                 2013
                                   low                                                  2013
                                   medium                                               2013
                                   o                                                    2007
               high                0                                                    2014
                                   1                                                    2014

# Team Attributes

In [39]:
team_attributes = football_db["Team_Attributes"].copy()

In [40]:
team_attributes.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,chanceCreationPassingClass,chanceCreationCrossing,chanceCreationCrossingClass,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,Organised,60,Normal,65,Normal,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,Organised,70,Risky,70,Lots,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,Organised,53,Normal,48,Normal,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [41]:
team_attributes.shape

(1458, 25)

In [42]:
team_attributes.duplicated(subset=["team_api_id"]).sum()

1170

In [43]:
team_attributes.duplicated(subset=["team_fifa_api_id"]).sum()

1173

In [44]:
team_attributes.duplicated(subset=["date"]).sum()

1452

In [45]:
team_attributes.isnull().sum()

id                                  0
team_fifa_api_id                    0
team_api_id                         0
date                                0
buildUpPlaySpeed                    0
buildUpPlaySpeedClass               0
buildUpPlayDribbling              969
buildUpPlayDribblingClass           0
buildUpPlayPassing                  0
buildUpPlayPassingClass             0
buildUpPlayPositioningClass         0
chanceCreationPassing               0
chanceCreationPassingClass          0
chanceCreationCrossing              0
chanceCreationCrossingClass         0
chanceCreationShooting              0
chanceCreationShootingClass         0
chanceCreationPositioningClass      0
defencePressure                     0
defencePressureClass                0
defenceAggression                   0
defenceAggressionClass              0
defenceTeamWidth                    0
defenceTeamWidthClass               0
defenceDefenderLineClass            0
dtype: int64